@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background: rgb(81, 94, 55);
    display: flex;
    align-items: center;
    /* padding: 10px 0; */
}    
header a{
    color: white;
}
header ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#logo{
    margin: 0 auto;
    font-size: 30px;
}
#menu li{
    padding: 10px;
}
#social-links li{
    padding: 10px;
}
#main{
    
    display: flex;
}
aside{
    padding: 10px;
    flex: 0 0 20vw;
    background: rgb(194, 228, 241);
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color: rgb(81, 94, 55) ;
    padding: 10px;
    display: block;
    border-bottom: 1px solid black;
}
aside img{
    width: 100%;
    /* top: 20px; */
}
article{
    padding: 10px;
}
article h2{
    text-align: center;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    border: 1px solid #eee;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.service-box img{
    width: 100%;
}
.call-to{
    align-self: flex-start;
    margin-top: auto;
}

.call-to a{
    background: grey;
    border: 2px solid transparent;
    color: white;
    padding: 8px 14px;
    display: block;
}
.call-to a:hover{
    color: grey;
    background: transparent;
    border: 2px solid grey;
}
footer{
    background: rgb(81, 94, 55);
    color: white;
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
}
@media screen and (max-width:850px) {
    .service-box{
        flex-basis: 48%;
    }
    aside{
        flex: 0 0 30vw;
    }
}
@media screen and (max-width:600px) {
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    #main{
        flex-direction: column;
    }
    article{
        order:-1;
    }
    .service-container{
        flex-direction: column;
        align-items: center;
    }
}